@font-face{
    font-family: praktika-light;
    src: url(fonts/Helvetica\ Neue\ UltraLight.ttf);
}

*{
    font-family: praktika-light;
}

/* --------------------------------------- */

body {
    margin: 0px;
    background-color: #F4F4F4;
}

/* --------------------------------------- */

#navbar{
    background-color: #E60012;
    border: 1px solid #bf0010;
    overflow: hidden;
    position: fixed;
    top: 0%;
    height: 7.5%;
    width: 100%;
    display: flex;
    z-index: 2;
}

#navbar a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li{
    display: flex;
}

#navbar img{
    padding: 1px 8px 0px 6px;
    text-decoration: none;
}

#ul_navbar {
    left: 0;
    list-style: none;
    display:inline-flex
}

button{
    background-color: #E60012;
    border: #00000000
}

/* --------------------------------------- */

#sidebar{
    height: 100%;
    width: 90px;
    position: fixed; 
    flex-direction: column;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #E60012;
    border-right: 4px solid #bf0010;
    overflow: hidden;
    margin-right: 8;

}

#sidebar a {
    padding: 1px 8px 0px 6px;
    top: 0;
    text-decoration: none;
    color: #f2f2f2;
    display: block;
    justify-content: space-evenly
}

#sidebar a:hover {
    color: #f1f1f1;
}

#sidebar img{
    border: #bf0010;
    border-bottom: 2.5px solid #bf0010;
    align-items: center;
}

/* --------------------------------------- */

#right_content{

    width: 425px; 
    position: absolute;
    z-index: 1; 
    top: 10; 
    right: 0;
    border-radius: 4;
    overflow: hidden;
    margin-top: 80px;
    margin-right: 10px;
}

#right_content_header{
    width: 425px; 
    position: relative;
    margin: 10px;
    padding: 5px 8px 2.5px 10px;
    z-index: 1; 
    top: 10; 
    right: 5px;
    background-color: #FFFFFF;
}

#right_content_header img{
    padding-right: 10px;
    float: left;
}

#right_content_box{
    width: 425px; 
    position: relative;
    margin: 5px;
    padding: 20px;
    z-index: 1; 
    top: 10; 
    right: 0;
    background-color: #FFFFFF;
    border-radius: 4;
}

#right_content_box img{
    float: left;
    width:  100px;
    height: 100px;
    padding: 5px 8px 2.5px 10px;
    text-align: center;
} 


/* --------------------------------------- */

.grid_container {
    width: calc(100vw - 580px);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: calc((100vw - 635px) / 3);
    gap: 5px;
    margin-top: 90px;
    margin-left: 120px;
    grid-template-areas:
    "grid_item_1 grid_item_2 grid_item_3"
    "grid_item_1 grid_item_4 grid_item_4"
    "grid_item_5 grid_item_6 grid_item_7"
    "grid_item_8 grid_item_8 grid_item_7"
    "grid_item_9 grid_item_10 grid_item_11"
    "grid_item_9 grid_item_12 grid_item_12"
    "grid_item_13 grid_item_14 grid_item_15"
    "grid_item_16 grid_item_16 grid_item_15"
    "grid_item_17 grid_item_18 grid_item_19"
    "grid_item_17 grid_item_20 grid_item_20";
}

.grid_container div{
    overflow: hidden;
}


.grid_container img{
    height: 100%;
    width: 100%;
}

.grid_container img:hover{
    opacity: 1;
    -webkit-transform:translateY(-10px);
    -moz-transform:translateY(-10px);
    transform:translateY(-10px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    box-shadow: 10px 10px 5px #d8d8d8;
}

/* liveAlive */
.grid_item_1{
    grid-area: grid_item_1;
}

/* xenoblade chronicles 3*/
.grid_item_2{
    grid-area: grid_item_2;
}

/* mario strikers */
.grid_item_3{
    grid-area: grid_item_3;
}

/* switch sports */
.grid_item_4{
    grid-area: grid_item_4;
}

/* kirby dream buffet */
.grid_item_5{
    grid-area: grid_item_5;
}

/* pokemon puzzle league */
.grid_item_6{
    grid-area: grid_item_6;
}

/* fire emblem warriors */
.grid_item_7{
    grid-area: grid_item_7;
}

/* monster hunter rise sunbreak */
.grid_item_8{
    grid-area: grid_item_8;
}

/* switch sports water bottle */
.grid_item_9{
    grid-area: grid_item_9;
}

/* pokemon scarlet and violet pre-order */
.grid_item_10{
    grid-area: grid_item_10;
}

/* xenoblade chronicles 3 notebook  */
.grid_item_11{
    grid-area: grid_item_11;
}

/* splatoon 3 */
.grid_item_12{
    grid-area: grid_item_12;
}

/* bayoneta 3 */
.grid_item_13{
    grid-area: grid_item_13;
}

/* pokemon scarlet and violet release date */
.grid_item_14{
    grid-area: grid_item_14;
}

/* mario kart deluxe booster course pass */
.grid_item_15{
    grid-area: grid_item_15;
}

/* falls guys season 1 */
.grid_item_16{
    grid-area: grid_item_16;
}

/* mario kart tour */
.grid_item_17{
    grid-area: grid_item_17;
}

/* animal crossing pocket camp */
.grid_item_18{
    grid-area: grid_item_18;
}

/* pikmin bloom */
.grid_item_19{
    grid-area: grid_item_19;
}

/* fire emblem heroes */
.grid_item_20{
    grid-area: grid_item_20;
}

/* --------------------------------------- */

#share_panel{
    background-color: #333333;
    color: #f2f2f2;
    margin-left: 100px;
    padding-left: 20px;
    height: 50px;
    width: 830px;
    text-align: center;
}

#share_panel img{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

}


/* --------------------------------------- */

#footer_ribbon{
    background-color: #E60012;
    border: 1px solid #bf0010;
    bottom: 10%;
    height: 50px;
    width: 702px;
    margin-left: 100px;
    padding-left: 7.5%;

}

/* #footer_ribbon img{
    display: flex;
    flex-direction: row;
} */

#footer_content{
    background-color: #bf0010;
    height: 125px;
    width: 827.328px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    padding: 10px;
}

#footer_content a {
    padding: 60px 98px 6px 6px;
    text-decoration: none;
    color: #f2f2f2;
    display: block;
    justify-content: space-evenly;
    text-align: justify;
}

#copyright{
    padding: 6px 98px 6px 6px;
    text-decoration: none;
    color: #f2f2f2;
    display: block;
    justify-content: space-evenly;
    margin: 10%;
    padding: 10%;
}